---
layout: default
---

    <div id = "about-row" class="row">
      <div id = "about" class="span4 offset8">
        <div id = "about-details">
          <span id = "name">
            {{ site.data.details.first_name }} {{ site.data.details.last_name }}
          </span>
          <span id = "occupation">
            {{ site.data.details.occupation }}
          </span>
        </div>
      </div>
    </div>

    <div id = "main-content" class="row">

      <div id = "details" class="span8">

        <div id = "education" class="section">
          <div class="title-box">
            <div class="circular" style="background: #33c4e8 url(assets/images/education-icon.png) no-repeat center;"></div>
            Education
          </div>
          <ul>
          {% for edu in site.data.details.education %}
            <li>
              <span class = "school">{{ edu.school }}</span>
              <span class = "duration">
                {{ edu.from }} - {{ edu.to }}
              </span><br />
              <span class = "degree">{{ edu.degree }} - </span>
              <span class = "field">{{ edu.field }}</span><br />              
            </li>
          {% endfor %}
          </ul>
        </div>

        <div id = "employment" class="section">
          <div class="title-box">
            <div class="circular" style="background: #33c4e8 url(assets/images/employment-icon.png) no-repeat center;"></div>
            Employment
          </div>
          <ul>
          {% for emp in site.data.details.employment %}
            <li>
              <span class = "employer">{{ emp.employer }}</span>
              <span class = "duration">
                {{ emp.from }} - {{ emp.to }}
              </span><br />
              <span class = "position">{{ emp.position }}</span><br />
              <div class = "description"> - {{ emp.description }}</div>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div id = "projects" class="section">
          <div class="title-box">
            <div class="circular" style="background: #33c4e8 url(assets/images/projects-icon.png) no-repeat center;"></div>
            Major Projects
          </div>
          <ul>
          {% for project in site.data.details.projects %}
            <li>
              <span class="project-name">{{ project.name }}</span>
            {% if project.details_url %}
              <span class = "details_url">
                <a href = "{{ project.details_url }}">[More]</a>
              </span>
            {% endif %}
            {% if project.source_url %}
              <span class = "source_url">
                <a href = "{{ project.source_url }}">[Source]</a>
              </span>
            {% endif %}
            {% if project.url %}
              <span class = "project_url">
                <a href = "{{ project.url }}">[Website]</a>
              </span>
            {% endif %}
              <p class = "description">
                {{ project.description }}
              </p>
            </li>
          {% endfor %}
          </ul>

        </div>

        <div id = "achievements" class="section">
          <div class="title-box">
            <div class="circular" style="background: #33c4e8 url(assets/images/achievements-icon.png) no-repeat center;"></div>
            Achievements
          </div>
          <ul>
          {% for achievement in site.data.details.achievements %}
            <li>{{ achievement }}</li>
          {% endfor %}
          </ul>
        </div>

      </div>

      <div id = "sidebar" class="span4">

        <div id="profile-image">
        </div>

        <div id = "links">
          <ul>
            {% for link in site.data.details.links %}
            <li id = "{{ link.name }}">
              <a href = "{{ link.link }}"><div class="circular" style="background: #33c4e8 url({{ link.icon }}) no-repeat center;"></div> {{ link.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div id = "summary" class="section">
          <p class="title-box">Summary</p>
          <p class="side-content">{{ site.data.details.summary }}</p>
        </div>

        <div id = "skills" class="section">
          <p class="title-box">Skills</p>
          <ul>
          {% for skill in site.data.details.skills %}
            <li>
              <p class="skill-category">{{ skill.category }}</p>
              <p class="skill-set">{{ skill.skill_set }}</p>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div id = "interests" class="section">
          <p class="title-box">Interests</p>
          <p class="side-content">{{ site.data.details.interests }}</p>
        </div>

      </div>
    </div>