body {
  background-color: black;
  color: white;
  /*font-family: "Sans Serif";*/
  font-family: "GothamBook";
}

.container {
  background-color: #39393b;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.section {
  border-top: 1px solid #9b9c97;
  box-shadow: 0 -5px 5px -5px #707070;
  margin-top: 20px;
}

.title-box {
  float: left;
  padding: 0 10px;
  margin: -10px 0 0 20px;
  text-transform: uppercase;
  background-color: #4f5152;
  font-size: 1.5em;
  font-family: "GothamBook";
}

.section ul {
  margin-top: 20px;
  list-style: none;
}

#about-row {
  background-color: #33c4e8;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0px;
}

#about {
  height: 138px;
  position: relative;
  left: -32px;
  text-align: center;
}

#about-details {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#about-details span {
  display: block;
  /*font-family: "Verdana";*/
  font-family: "GothamBook";  
  padding-bottom: 5px;
  padding-top: 15px;
}

#about-details #name {
  font-size: 2.8em;
}

#about-details #occupation {
  font-size: 1.5em;
}

#main-content {
  border-top: 5px solid #38222e;
  margin-top: 0px;
  margin-left: 0px;
}

#main-content a {
  text-decoration: none;
  color: white;
}

#main-content a:hover {
  text-decoration: none;
  color: #33c4e8
}

#details {
  background-color: #4f5152;
  margin-left: 0px;
}

#details .section {
  margin: 40px 50px 40px 30px;
}

#details .circular {
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40;
  -ms-border-radius: 40;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

#details .title-box {
  margin: -33px 0px 0px 0px;
  color: #33c4e8;
  font-size: 1.8em;
}

#details .section ul {
  margin-top: 40px;
}

#details .section ul li {
  padding-bottom: 15px;
}

#education .school {
  text-transform: uppercase;
  font-size: 1.2em
}

#education .duration {
  float: right;
}

#education .degree, .field{
  font-style: italic;
}

#employment .employer {
  text-transform: uppercase;
  font-size: 1.2em;
}

#employment .duration {
  float: right;
}

#employment .position {
  font-style: italic;
  font-size: 1.2em;
}

#employment .description {
  margin: 5px 0px 10px 0px;
}

#projects .project-name {
  text-transform: uppercase;
  font-size: 1.2em
}

#projects .details_url, .source_url {
  float: right;
}

#sidebar {
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  perspective: 1000px;
  -ms-perspective: 1000px;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
}

#profile-image {
  width: 250px;
  height: 250px;
  margin: 20px auto;
  border-radius: 250px;
  -ms-border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  background: url(../images/profile.jpg) no-repeat center;
}

#links {
  background-color: #4f4f4f;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0px;
  transform: translateZ(-30px);
  -ms-transform: translateZ(-30px);
  -moz-transform: translateZ(-30px);
  -webkit-transform: translateZ(-30px);
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.circular {
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  -ms-border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}


#links ul {
  list-style: none;
}

#links ul li {
  padding: 3px 0px;
}

#sidebar .section {
  margin-top: 25px;
}

#sidebar .title-box {
  background-color: #39393b;
}

#sidebar .section .side-content {
  margin-top: 20px;
  margin-left: 25px;
}

#skills .skill-category {
  text-transform: uppercase;
  font-size: 1.2em;
}

@font-face {
  font-family: "GothamBook";
  src: url(../fonts/GothamBook.ttf);
}